---
import Layout from '../../layouts/Layout.astro';
import ForgotPasswordForm from '../../components/ForgotPasswordForm';
---

<Layout title="Forgot Password">
  <div class="card">
    <ForgotPasswordForm client:load />
    <p style="margin-top: 1rem; text-align: center;">
      Remember your password? <a href="/auth/login" style="color: #007bff;">Login</a>
    </p>
  </div>
</Layout>
