---
import Layout from '../../layouts/Layout.astro';
import ResetPasswordForm from '../../components/ResetPasswordForm';
---

<Layout title="Reset Password">
  <div class="card">
    <ResetPasswordForm client:load />
  </div>
</Layout>
